/* Calculator Section */
.calculate-savings {
  background-color: black;
  color: #ffdd00;
  padding: 50px 0;
  text-align: left;
  position: relative;
  z-index: 1;
}

.calculate-savings .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.calculator-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Use space-between to distribute space evenly */
  gap: 20px; /* Maintain a consistent gap */
  padding: 20px;
}

.calculator-grid > div,
.calculator-grid > button {
  width: calc(30.33% - 20px); /* Adjust width to fit within the container with gaps */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-grid input, 
.calculator-grid select, 
.calculator-grid button {
  width: 100%; /* Full width within its parent div */
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculator-grid label {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
  font-size: 1.2rem;
}

.results-wrapper {
  margin-top: 20px;
}

.calculate-savings h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left; /* Keep heading left-aligned */
}

.calculate-savings p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left; /* Keep subheading left-aligned */
}

.calculator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

.calculator-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calculator-input {
  background-color: #ffdd00;
  color: black;
  padding: 30px 0;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: text;
}

.calculator-label {
  color: #ffdd00;
  font-size: 1.2rem;
  margin-bottom: -10px;
  text-align: left;
  margin-left: 10px;
  width: 100%; /* Ensure label width matches input */
}

.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.results {
  background-color: #ffdd00;
  color: black;
  padding: 2rem 0; /* Reduced padding */
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.start-button-container {
  text-align: center;
}

.start-button-container img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}

.results img {
  max-width: 10rem;
  width: 100%;
  max-height: auto;
  margin: 0 auto;
}

.slide-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
