/* General Hero Section Styling */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Banner size */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content */
  height: 100%;
  padding: 20px;
  color: #ffdd00;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.75);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Space out the text and image */
  max-width: 1200px;
  /* Set a max-width for the inner container */
  width: 100%;
  padding-left: 5rem;
}

.text-content {
  max-width: 50%;
  background-color: #000000bd;
  max-width: 100%;
  text-align: left;
  padding: 4rem 2rem 17rem;
  border-radius: 2rem;
}

.hero-content h1 {
  font-size: 9rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 8rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1rem;

}

.hero-content p {
  font-size: 1.5rem;
  /* Larger paragraph text */
  margin-bottom: 20px;
}

.vito-image {
  width: 60%;
  height: auto;
  padding-top: 15rem;
}

/* Extra Large Devices, Large Desktops */
@media (min-width: 1200px) {
  .hero-content h1 {
    font-size: 10rem;
    font-weight: 900;
    font-style: italic;
    /* margin-bottom: 10px; */
    text-transform: uppercase;
    text-align: left;
    line-height: 8rem;

  }

  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .vito-image {
    width: 58%;
    height: auto;
    padding-top: 39rem;
  }
}

/* Large Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  hero-content h1 {
    font-size: 9rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    line-height: 7rem;
    padding: 10rem 0 0 0;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    /* Center align the content */
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    /* Corrected padding value */
    padding-right: 1rem;
    /* Added padding for right side */
    text-align: center;
    /* Center text for smaller screens */
    margin: 20rem 0 -15rem 0;
  }

  .text-content {
    position: relative;
    max-width: 100%;
    text-align: left;
    padding: 4rem 3rem;
    top:16rem;
  }

  



  .vito-image {
    width: 100%;
    padding: 0;
    margin: -5rem 0 20rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    /* Row direction for buttons */
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    width: 100%;
  }

  .button {
    flex: 1;
    /* Make buttons grow to fill available space */
    text-align: center;
    /* Center text in buttons */
  }
}

/* Medium Devices, Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-content h1 {
    font-size: 9rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    line-height: 7rem;
    padding: 10rem 0 0 0;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    /* Center align the content */
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    /* Corrected padding value */
    padding-right: 1rem;
    /* Added padding for right side */
    text-align: center;
    /* Center text for smaller screens */
    margin: 20rem 0 -15rem 0;
  }

  .text-content {
    max-width: 100%;
    text-align: left;
    padding: 4rem 3rem;
  }

  



  .vito-image {
    width: 100%;
    padding: 0;
    margin: -5rem 0 20rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    /* Row direction for buttons */
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    width: 100%;
  }

  .button {
    flex: 1;
    /* Make buttons grow to fill available space */
    text-align: center;
    /* Center text in buttons */
  }
}

/* Small Devices, Phones (Landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-content h1 {
    font-size: 9rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    line-height: 7rem;
    padding: 10rem 0 0 0;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    /* Center align the content */
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    /* Corrected padding value */
    padding-right: 1rem;
    /* Added padding for right side */
    text-align: center;
    /* Center text for smaller screens */
    margin: 20rem 0 -15rem 0;
  }

  .text-content {
    max-width: 100%;
    text-align: left;
    padding: 4rem 3rem;
  }

  



  .vito-image {
    width: 100%;
    padding: 0;
    margin: -5rem 0 20rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    /* Row direction for buttons */
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    width: 100%;
  }

  .button {
    flex: 1;
    /* Make buttons grow to fill available space */
    text-align: center;
    /* Center text in buttons */
  }
}

/* Extra Small Devices, Phones (Portrait) */
@media (max-width: 575.98px) {
  .hero-content h1 {
    font-size: 2.2rem;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    /* Center align the content */
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    /* Corrected padding value */
    padding-right: 1rem;
    /* Added padding for right side */
    text-align: center;
    /* Center text for smaller screens */
    margin: 20rem 0 0rem 0;
  }

  .text-content {
    max-width: 100%;
    text-align: left;
    padding: 3rem 2rem 17rem;
  }

  .hero-content h1 {
    font-size: 5rem;
    line-height: 5rem;
  }


  .hero-content p {
    font-size: 1rem;
    /* Smaller paragraph text for smaller screens */
  }

  .vito-image {
    display: none;
    width: 140%;
    padding: 0;
    margin: -19rem 0 20rem;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    /* Row direction for buttons */
    gap: 10px;
    /* Space between buttons */
    justify-content: center;
    /* Center the buttons */
    width: 100%;
  }

  .button {
    flex: 1;
    /* Make buttons grow to fill available space */
    text-align: center;
    /* Center text in buttons */
  }
}