#quiz-section {
  z-index: 2;
  position: relative;
  background-color: rgba(49, 49, 49, 0);
  padding: 0 1rem;
  top: 0.4rem;
}

.quiz {
  background-color: #252525;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  text-align: left;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  border: 15px solid #ffdd00;
  border-radius: 2rem;
  margin: 0 auto;
}

.quiz-header-container {
  padding: 20px 20px 0;
  text-align: center;
  text-align: left;
}

.quiz-heading {
  color: #ffdd00;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
  font-style: italic;
}

.slide-heading {
  color: #000000;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}

.quiz-description {
  color: #ffdd00;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.start-button-container img {
  max-width: 40rem;
  margin-bottom: 20px;
}

.quiz-container {
  display: none;
  color: #ffdd00;
  padding: 50px 20px;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.quiz-slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quiz-slide {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

.quiz-slide.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.quiz-slide.left {
  transform: translateX(-100%);
  visibility: hidden;
}

.quiz-slide.right {
  transform: translateX(100%);
  visibility: hidden;
}

.quiz-results {
  background-color: #ffdd00;
  color: black;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
  max-height: 30rem;
  overflow-y: auto;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 20px;
  z-index: 2;
  position: relative;
}

.slide-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 5rem;
  width: 100%;
  justify-content: space-evenly;
}

.button-wrapper button {
  background-color: white;
  color: #db0006;
  font-size: 1.1rem;
  border: 2px solid white;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  cursor: pointer;
  border-radius: 40px;
  width: 30%;
  max-width: 220px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, padding 600ms, font-size 1200ms, width 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 0px #000000;
  text-transform: uppercase;
}

.button-wrapper button:hover {
  background-color: #db0006;
  color: white;
  font-size: 1.4rem;
  border-color: #db0006;
  padding: 2rem 0 2rem 0rem;
  width: 35%;
  box-shadow: 0 8px 0px #000000;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.result-wrapper img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.result-wrapper a {
  color: #ffdd00;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.result-wrapper h2 {
  margin-top: 20px;
}

/* Responsive Styles */
@media (min-width: 1200px) {
  .quiz {
    padding: 0 3rem;
    text-align: left;
    overflow: hidden;
    position: relative;
  }

  .quiz-heading {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .quiz-description {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .quiz {
    max-width: 1200px;
    padding: 0 3.5rem;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .quiz {
    padding: 0 2rem;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 3.3rem;
    line-height: 3.5rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .quiz {
    padding: 2rem;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 3rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
  
  .start-button-container img {
    max-width: 12rem;
    max-height: 12rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 400px) and (max-width: 575.98px) {
  .quiz {
    padding: 1rem;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
  
  .start-button-container img {
    max-width: 12rem;
    max-height: 12rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 330px) and (max-width: 399.98px) { 
  .quiz {
    padding: 1rem;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
  
  .start-button-container img {
    max-width: 12rem;
    max-height: 12rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 200px) and (max-width: 329.98px) { 
  .quiz {
    padding: 1rem;
    height: 90vh;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: left;
  }

  .quiz-heading {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .quiz-description {
    font-size: .9rem;
  }
  
  .start-button-container img {
    max-width: 12rem;
    max-height: 12rem;
    margin-bottom: 20px;
  }
}

.img-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
